.DS_Store

bulid/
build/

ffmpeg_frames/
output/

/.vcpkg-cache/
example/data/

config.txt
particle_vis
particle_vis.exe

*~
*.o
*.dSYM/
*.exe

jupyter_work/*
!jupyter_work/shm_reader.py
imgui.iniimgui.ini
