[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/ImGuiFileDialog"]
	path = external/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "external/cloudy"]
	path = external/cloudy
	url = https://gitlab.nublado.org/cloudy/cloudy.git
[submodule "external/submodules/glfw"]
	path = external/submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/submodules/glm"]
	path = external/submodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/submodules/eigen"]
	path = external/submodules/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/submodules/nlohmann_json"]
	path = external/submodules/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "external/submodules/cppzmq"]
	path = external/submodules/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "external/submodules/libzmq"]
	path = external/submodules/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "external/submodules/hdf5"]
	path = external/submodules/hdf5
	url = https://github.com/HDFGroup/hdf5.git
[submodule "external/submodules/vtk"]
	path = external/submodules/vtk
	url = https://github.com/Kitware/VTK.git
[submodule "external/submodules/gmp"]
	path = external/submodules/gmp
	url = https://github.com/alisw/GMP.git
[submodule "external/submodules/mpfr"]
	path = external/submodules/mpfr
	url = https://github.com/P-p-H-d/mpfr.git
[submodule "external/submodules/lua"]
	path = external/submodules/lua
	url = https://github.com/lua/lua.git
[submodule "external/submodules/cgal"]
	path = external/submodules/cgal
	url = https://github.com/CGAL/cgal.git
